html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.webAni {
    animation: animate linear;
    animation-timeline: view(75% 5%);
}

.webAni2 {
    animation: animate2 linear;
    animation-timeline: view(75% 5%);
}

@keyframes animate {
    from {
        transform: translate(-30px);
        opacity: 0.1;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes animate2 {
    from {
        transform: translate(30px);
        opacity: 0.1;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    position: relative;
}

nav {
    /* border: 1px solid; */
    width: 100%;
    padding: 1em;
    font-size: 15px;
    margin: 1em 0;
   

}

.leftnav {
    width: 50%;

}

.rightnav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
}

.leftnav ul {
    list-style: none;
}
.leftnav .name{
    position: relative;
    background: linear-gradient(45deg, #ff007f, #ffcc00);
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 15px rgba(255, 0, 127, 0.6);
    margin-right: 10px;
    overflow: hidden;
}

.leftnav ul a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: rgba(212, 209, 209, 0.381);
    border: none;
    font-size: 1em;
    color: black;
    padding: 8px 14px;
    border-radius: 20px;
}

.black {
    background-color: black;
    color: white;
}

.search {
    padding: 0 1em;
    /* height: 5vh; */
    /* justify-content: center; */
    gap: 10px;
    /* position: sticky; */
}


.sHere {
    height: 100%;
    width: 30%;
    /* width: fit-content; */
    position: relative;
}

.sHere img,
.iconfit {
    height: 15px;
    border-radius: 50%;
    position: absolute;
    /* border: 1px solid; */
    left: 10px;
    z-index: 11;
}

.sHere input {
    height: 35px;
    width: 100%;
    padding-left: 28px;
    border: none;
    border-radius: 30px;
    background-color: rgba(212, 209, 209, 0.381);
}

.sHere input:active {
    border: 2px solidblack;
}

.btns {
    margin: 10px;
    height: 35px;
    width: 68%;
}



.main {
    margin: 1em;
    background: url(assets/lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    padding: 2.5em;
    border-radius: 30px;
    justify-content: center;
}


.mainleft {
    width: 60%;
    padding: 0.5em;
}



.mainleft .mheading {
    font-size: 3em;
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 20px 0;
    line-height: 70px;
    text-shadow: 1px 1px 5px black;
}

.book {
    position: relative;
    justify-content: space-between;
}

.mainleft .para {
    margin-top: 2.5em;
    color: white;
    font-size: 15px;
    width: 75%;
    color: rgb(0, 0, 0);
}

.mainright {
    width: 30%;
    padding: 0.5em;
    background-color: #fff;
    color: black;
    padding: 1.5em;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
}

.mainright .head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.mainright .head img,
.iconfit {
    position: absolute;
    height: 20px;
    border-radius: 50%;
}

.mainright .head p {
    padding: 0 0 0 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.mainright label {
    color: rgba(118, 115, 115, 0.607);
    padding-top: 0.5em;
}

.mainright input {
    width: 100%;
    padding: 0 0 0 32px;
    height: 40px;
    font-size: medium;
    z-index: 10;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px 2px rgb(46, 46, 46);
}

a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* master2----------------------------------------- */


.master2 {
    border-top: 2px solid;
    margin-top: 2em;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
    position: relative;
    /* background-color: rgba(128, 0, 128, 0.256); */
}

.master2 .col {
    flex: 1;
}

.master2 .first {
    font-size: xx-large;
    font-family: math;
}

.master2 .second {
    font-size: 2.2em;
    font-family: math;
    font-weight: 900;
}

.master2 .third {
    font-size: 10px;
    width: 60%;
}

.master2 .third p {
    width: 70%;
}

.master3 {
    background-color: rgba(128, 0, 128, 0.256);
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.master3 .card1 {
    width: 20vw;
    border-radius: 10px;
    overflow: hidden;
}

.master3 .card1 img {
    width: 100%;
    height: 100%;
}

.master3 .card1 div {
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -5px;
}

.master3 .card1 div p {
    color: white;
    font-family: cursive;
}

.master3 .card2 {
    height: 70%;
    width: 35%;
    background-color: #f8cb009a;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.master3 .card2 :first-child {
    font-family: math;
    font-size: xx-large;
}

.master3 .card2 :last-child {
    font-size: small;
}

.master3 .card3 {
    width: 20%;
    height: 70%;
    border-radius: 20px;
    overflow: hidden;
}

.master3 .card3 img {
    height: 100%;
    width: 100%;
}

.master3 .card3 div {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 15px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
}

.master3 .card3 .c3 {
    font-family: sans-serif;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5px;
}


.master3 .card4 {
    height: 45%;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    overflow: hidden;
}

.card4 img {
    width: 100%;
    height: 100%;
}

.card4 button {
    position: absolute;
}









@media (max-width: 665px) {
    nav {
        margin: 0 0 1em 0;
        column-gap: 0;
    }

    .main {
        flex-direction: column;
        height: fit-content;
        gap: 4em;
        width: calc(100%-2em);
        margin: 0.5em;
    }

    .en {
        display: none;
    }

    .mainleft {
        width: 100%;
        /* align-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .bookparent {
        display: flex;
        justify-content: center;
    }

    .mainleft .mheading {
        font-size: 2.4em;
        line-height: 1.3;
        font-weight: 600;
        text-align: center;
    }

    .mainleft .para {
        width: 100%;
        text-align: center;
    }

    .mainright {
        width: 99%;
    }

    .btns {
        overflow-x: scroll;
    }
    .twoinputes{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em;
    }
    .search button,
    nav button {
        font-size: small;
        padding: 4px 14px;
        border-radius: 20px;
    }

    .main .mainright .twoinputes .checkin, .twoinputes .duration{
        width: 100%;
    }
    .master2,
    .master3 {
        height: fit-content;
        flex-direction: column;
        gap: 2em;
        padding: 1em;
    }
    .master3 .card1,.master3 .card2,.master3 .card3,.master3 .card4{
        width: fit-content;
        height: auto;
    }
    

}



@media (min-width: 666px) and (max-width: 829px) {
    nav {
        margin: 0 0 1em 0;
    }

    .search button,
    nav button {
        font-size: small;
        padding: 4px 14px;
    }

    .main {
        flex-direction: column;
        height: fit-content;
        gap: 4em;
        width: calc(100%-2em);
    }

    .mainleft {
        width: 100%;
        /* align-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .book {
        margin: 0 17%;
    }

    .mainleft .mheading {
        font-size: 2.4em;
        line-height: 1.3;
        font-weight: 600;
    }

    .mainleft .para {
        width: 100%;
        text-align: center;
    }

    .mainright {
        width: 60%;
    }

    .btns {
        overflow-x: scroll;
    }
    .twoinputes .checkin, .twoinputes .duration{
        width: 100%;
    }
    .master2,
    .master3 {
        height: fit-content;
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 2em;
        padding: 1em;
    }
    

}

@media (min-width: 830px) and (max-width: 1000px) {
    nav {
        margin: 0 0 1em 0;
    }

    .main {
        /* flex-direction: column; */
        /* height: fit-content; */
        gap: 4em;
        width: calc(100%-2em);
    }

    .mainleft {
        width: 40%;
        /* align-content: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainleft .mheading {
        font-size: 2.4em;
        line-height: 1;
        font-weight: 600;
    }

    .mainright {
        width: 60%;
    }

    .btns {
        overflow-x: scroll;
    }

    .master2,
    .master3 {
        height: fit-content;
        flex-wrap: wrap;
        gap: 2em;
        padding: 2em;
    }
    
}

@media (min-width: 1001px) and (max-width: 1200px) {
    nav {
        margin: 0 0 1em 0;
    }

    .main {
        /* flex-direction: column; */
        gap: 4em;
        width: calc(100% - 2em);
    }

    .mainleft {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainleft .mheading {
        font-size: 3em;
    }

    .mainleft .para {
        width: 80%;
        text-align: left;
    }

    .mainright {
        width: 55%;
    }
    .master2,
    .master3 {
        height: fit-content;
        flex-wrap: wrap;
        gap: 2em;
        padding: 1em;
    }
    
}






/* Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Width of vertical scrollbar */
    height: 8px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #6bffff, #556270); /* Gradient color */
    border-radius: 10px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #4efff9, #1f4037); /* Darker gradient on hover */
}


* {
    scrollbar-width: thin;
    scrollbar-color: #ef5bca #f1f1f1;
}
